# Ignorar configurações locais do ambiente
.env
.env.local
*.bak

# Ignorar dependências do projeto
node_modules/
vendor/

# Ignorar arquivos do editor/IDE
.vscode/
.idea/
*.swp

# Logs e arquivos temporários
*.log
*.tmp
*.cache
*.sql
*.sqlite
error_log
