.container-register {
    display: flex;
    height: 180vh;
}

.wave-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #fff;
}

.waves {
    position: absolute;
    bottom: 0;
    height: 100%;
}

.wave1,
.wave2,
.wave3,
.wave4 {
    animation: moveWaves 8s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite alternate;
}

@keyframes moveWaves {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1000px);
    }
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}

.form-cadastro {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.header-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header-form h2 {
    font-size: 1.5rem;
    flex: 1;
    text-align: center;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.input-group label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
}

.input-group div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.password-requirements {
    color: #888;
    margin: 1.5rem 0;
    list-style: none;
}

.password-requirements p {
    font-size: 1.2rem;
}

.password-requirements ul {
    list-style: none;
    padding-left: 0;
}

.password-requirements li {
    font-size: 1rem;
    color: red;
    margin: 6px 0;
}

.password-requirements li.valid {
    color: green;
}

.password-requirements li.invalid {
    color: red;
}

.accept-termos a {
    text-decoration: none;
    color: #006494;
    font-size: 1rem;
}

.accept-termos a:hover {
    text-decoration: underline;
}

.input-error {
    color: red;
    font-size: 0.85rem;
    margin-top: 4px;
    display: block;
}

.btn-primary.submit{
    margin-top: 1rem;
    width: 100%;
}

@media (max-width: 1440px) {


    .form-cadastro {
        width: 90%;
        padding: 1.5rem;
    }

    .header-form {
        margin-bottom: 1rem;
        gap: 0.8rem;
    }

    .header-form h2 {
        font-size: 1rem;
    }

    .input-group {
        gap: 0.75rem;
        margin-bottom: 0.5rem;
    }

    .input-group label {
        font-size: 0.8rem;
    }

    .password-requirements {
        margin: 0.5rem 0;
    }

    .password-requirements p {
        font-size: 0.8rem;
    }

    .password-requirements li {
        font-size: 0.8rem;
    }

    .accept-termos a {
        font-size: 0.9rem;
    }

    .input-error {
        font-size: 0.7rem;
    }
}