.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 700px;
}

.title{
    color: #294C71;
}

.container-content form {
    display: flex;
    flex-direction: column;
}

.btn-primary{
    margin-top: 1rem;
}

.container-content a{
    margin-top: 1rem;
}

.container-content a:hover{
    color: #1757B9;
}