RewriteEngine On
RewriteBase /

# URLs amigáveis mapeadas
RewriteRule ^home$ home.php [L]
RewriteRule ^inscricoes$ municipalRegistration.php [L]
RewriteRule ^certidoes$ alvarasCertidoes.php [L]
RewriteRule ^debito$ debtCheck.php [L]
RewriteRule ^licenciamento$ licensing.php [L]
RewriteRule ^noticias$ noticias.php [L]
RewriteRule ^perfil$ profile.php [L]

# Página inicial
RewriteRule ^$ login.php [L]
